@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Севастопольский Торгово-Экономический Техникум</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в СТЭТ</h2>
        <p>
            СТЭТ - тестовый проект работы ASP .NET Core web.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать полный проект на Github</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Посмотреть &raquo;</a></p>
    </div>
</div>
</div>